#header{
  padding: 0;
  margin:auto;
}

#header{
  font-size:60px;
  text-align: center;
  margin:1.5%;
  padding: inherit;

}

#paragraph{
  font-family: 'Pirata One';
  font-size: 30px;
}

#first{
  color:black;
  font-family: 'Freckle Face';
}

#second{
  color:black;
  font-family: 'Freckle Face';
}

#third{
  color:black;
  font-family: 'Freckle Face';
}
